<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce store</title>
    <link rel="stylesheet" href="/static/style/manage_store.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <header>
        <nav class="nav_bar">
            <div class="right_nav_bar">
                <p>E-commers stor</p>
            </div>

            <div class="center_naw_bar">
                <div class="serach_bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Serach Products">
                </div>

            </div>

            <div class="left_nav_bar">
                <div class="button-field">
                    <!-- Link to Login Page -->
                    <form action="{% url 'login' %}" method="get">
                        <button type="submit">Login</button>
                    </form>

                </div>

            </div>


        </nav>
    </header>



    <section>
        <div class="store_name">
            <h1>{{ store.name }}'s Store</h1>
        </div>

        <div class="add_new_product">
            <a href="{% url 'add_new_product' %}">Add nwe product from hear</a>
        </div>
        <div>



            <a href="{% url 'seller_profile' %}"> see our profile from hear</a>

        </div>





        <div class="container">
            {% for product in products %}
            <div class="content">
                <div class="product_image">

                    {% if product.product_image %}
                    <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}">
                    {% else %}
                    <p>No image available</p>
                    {% endif %}
                </div>
                <div class="product_name">
                    <strong>{{ product.product_name }}</strong>
                </div>

                <div class="product_desc">{{ product.product_desc }}</div>

                <div class="product_price">Price: ${{ product.product_price }}</div>

                <div class="button-field update">
                    <button><a href="{% url 'update_product' product.id %}">Update</a></button>
                    <button><a href="{% url 'delete_product' product.id %}">Delete</a></button>
                </div>
            </div>
            {% empty %}
            <p>No products available.</p> <!-- Display message if no products are found -->
            {% endfor %}
        </div>
    </section>
</body>

</html>