<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order history</title>
</head>

<body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="orders-container">
        {% for order in orders %}
        <div class="order-header">
            <h3>Order #{{ order.id }}</h3>
        </div>

        <div class="order-items">


            {% for item in order.orderitem_set.all %}
            <div class="order-item">
                <p>{{ item.product.product_name }} x {{ item.quantity }}</p>
                <p>Price: ${{ item.price }}</p>
                <p>Total: ${{ item.total }}</p>
            </div>
            {% endfor %}

            <p>Date: {{ order.created_at|date:"F j, Y" }}</p>
        </div>

        {% endfor %}
    </div>
</body>

</html>